name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
    - name: Git clone
      uses: actions/checkout@v3
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install
    - uses: actions/upload-artifact@v3
      with:
        name: node_modules
        path: node_modules

  run_tests:
    needs: install
    runs-on: ubuntu-latest
    steps:
    - name: Git clone
      uses: actions/checkout@v3
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - uses: actions/download-artifact@v3
      with:
        name: node_modules
        path: node_modules
    - name: Run unit tests
      run: |
        chmod u+x ./node_modules/.bin/*
        npm test
